<mat-toolbar color="primary">
    <span>PokePoke</span>
    <span class="example-spacer"></span>
    <li>
        <a href="#" class="menu-item">
            <span>Top 20</span>
        </a>
        <a href="#" class="menu-item">
            <span>Tipo Agua</span>
        </a>
        <a href="#" class="menu-item">
            <span>Tipo Tierra</span>
        </a>
    </li>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
    </button>

</mat-toolbar>

